.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}
h1 {
  color: white;
  margin-top: 0;
}
.table {
  display: flex;
  justify-content: center;

}
.table-item {
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
}